<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174681359161-o9ld9hrj6dn9ffseklm3kms2pbcf10cu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174681359161-o9ld9hrj6dn9ffseklm3kms2pbcf10cu</string>
	<key>API_KEY</key>
	<string>AIzaSyDmkZjpcnLD4IQ8fO_f7UVwPY7iXzzh8_o</string>
	<key>GCM_SENDER_ID</key>
	<string>174681359161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.SocialIntegration</string>
	<key>PROJECT_ID</key>
	<string>socialintegration-cd08f</string>
	<key>STORAGE_BUCKET</key>
	<string>socialintegration-cd08f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174681359161:ios:1190dcdcd1420bbbdfdee8</string>
</dict>
</plist>